@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.taxi-booking {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  margin-top: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.agency {
  display: flex;
  align-items: center;
}

.agency-logo {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 10px;
}

.agency-info span {
  display: block;
  font-size: 14px;
}

.rating {
  font-size: 20px;
  color: #ffc107;
}

.rating .star {
  color: #ccc;
}

.booking-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.time {
  display: flex;
  align-items: center;
}

.time .day {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.time .hour {
  font-size: 14px;
  margin-right: 5px;
}

.time .clock {
  font-size: 16px;
}

.route-progress {
  position: relative;
  width: 30%;
  height: 30px;
  
}

.origin-marker,
.dest-marker {
  position: absolute;
  top: -12px;
  width: 25px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.origin-marker {
  left: 0;
  background-color: #4caf50;
}

.dest-marker {
  right: 0;
  background-color: #f44336;
}

.route-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.control-btn {
  background-color: #f2f2f2;
  border: none;
  color: #333;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.control-btn.origin {
  background-color: #4caf50;
  color: #fff;
}

.control-btn.dest {
  background-color: #f44336;
  color: #fff;
}

.fare {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.buy-btn {
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto;
}

.buy-btn:hover {
  background-color: #17a594;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 10%;
}

.footer .icon {
  margin-right: 10px;
  margin-top: 15px;
}

.footer .transport-type{
    margin-top: 15px;
}

@media (max-width: 768px) {
  .taxi-booking {
    padding: 15px;
  }

  .agency-logo {
    width: 30px;
    height: 30px;
  }

  .agency-info span {
    font-size: 12px;
  }

  .rating {
    font-size: 16px;
  }

  .time .day {
    font-size: 14px;
  }

  .time .hour,
  .time .clock {
    font-size: 12px;
  }

  .route-progress {
    width: 160px;
    height: 25px;
  }

  .origin-marker,
  .dest-marker {
    width: 20px;
    height: 40px;
    font-size: 12px;
  }

  .control-btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .fare {
    padding: 8px 12px;
    font-size: 14px;
  }

  .footer {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .taxi-booking {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .rating {
    margin-top: 10px;
  }

  .booking-info {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
  }

  .time {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .route-progress {
    width: 100%;
    height: 20px;
  }

  .origin-marker,
  .dest-marker {
    width: 20px;
    height: 40px;
    font-size: 10px;
  }

  .route-controls {
    width: 100%;
    justify-content: center;
    margin-top: 5px;
  }

  .fare {
    width: 100%;
    text-align: center;
    margin-top: 35px;
  }

  .footer {
    font-size: 14px;
    margin-top: 20%;
  }
}
